/** Fonts **/

@font-face {
    font-family: "Balham";
    src: url(../fonts/Balham.otf) format('opentype'); 
}

@font-face { 
    font-family: "edelsans";
    src: url(../fonts/edelsans_regular.otf) format('opentype'),
         url(../_edelsans_regular.otf) format('opentype');
}

@font-face { 
    font-family: "Champagne & Limousines";
    src: url(../fonts/Champagne&Limousines.otf) format('opentype'),
         url(../fonts/Champagne_Limousines.ttf) format('truetype');
}

/** General settings **/

*, 
body, 
div, 
p, 
img, 
a, 
ul, 
li, 
h1, 
h2, 
h3, 
header, 
main, 
footer {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #ac9178;
}

body,
header,
main,
section,
article,
footer {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    -webkit-flex-row: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

/** Fonts and colors **/

h1,
h2,
h3 {
    font-family: "Balham", serif;
}

h1 {
    color: #062152;
}

h2 {
    color: #917840;
}

p, a { 
    font-family: "edelsans", "Champagne & Limousines", sans-serif;
}

/** Header **/

header {
    justify-content: space-between;
    padding: 8px 10px 6px 12px;
}

.logo_xs {
    height: 56px;
}

.autor_name_xs,
.autor_title_xs {
    text-align: right;
}

.line_box {
    display: none;
}

/** Main - hero image **/

main {
    background-size: 100%;
    background: no-repeat left top;
}

/** Section - links for portfolio outside websides **/

.portfolio {
    box-sizing: border-box;
    width: 100vw;
    padding: 25px 0 20px 0;  
}

.portfolio_main_title {
    box-sizing: border-box;
    margin: 0 0 -15px 10px;
}

.portfolio_main_title::first-letter,
.portfolio_title::first-letter {
    font-size: 150%;
}

.portfolio_sites_xs {
    width: 100%;
    padding: 25px 0 0 0;
}

.portfolio_img {
    height: 10em;
    max-width: 100vw;
    background-size: contain;
}

.portfolio_icon {
    font-size: 6.6em;
    text-align: center;
    color: #917840;    
    opacity: 0.9;
    fill: alpha(opacity=90);
}

.portfolio_gallery {
    background: url(../img/portfolio/part_all_07.jpg) no-repeat left;
}

.portfolio_code {
    background: url(../img/portfolio/part_all_07.jpg) no-repeat center;
}

.portfolio_new_project {
    background: url(../img/portfolio/part_all_07.jpg) no-repeat right;
}

.portfolio_title {
    text-align: center;
    padding: 5px 0 0 0;
}

.portfolio_link {
    text-align: center;
}

.portfolio_link a {
    color: #062152;
}

/** Footer **/

footer {
    justify-content: space-around;
    padding: 15px 10px 10px 10px;
    margin: 10px 0 0 0;
    background: rgb(172,145,120);
    background: -webkit-linear-gradient(rgb(201, 185, 169), rgb(172, 145, 120));
    background: -o-linear-gradient(rgb(201, 185, 169), rgb(172, 145, 120));
    background: -moz-linear-gradient(rgb(201, 185, 169), rgb(172, 145, 120));
    background: linear-gradient(rgb(201, 185, 169), rgb(172, 145, 120));
}

address p {
    text-align: center;
    color: #917840;
}

.email a {
    color: white;
    letter-spacing: 0.2em;
}

.copy_right {
    padding: 10px 0 0 0;
    text-align: center;
    color: rgb(201, 185, 169);
    font-style: italic;
}


/** ------ Media ------- **/

@media all and (max-width:309px) { 

/** Header **/

    .logo_xs {
        height: 48px;
    }

    .autor_name_xs {
        font-size: 1.8em;
    }

    .autor_title_xs {
        font-size: 0.8em;
    }

    .autor_xs {
        margin: 0 0 0 10px;
    }

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 149px;
        background: url(../img/main/oryginal_350_x1.jpg);
    }

    .motto_box {
        display: none;
    }

/** Footer **/

    footer {
        padding: 10px 0 10px 0;
    }

}


@media all and (min-width: 310px) and (max-width:450px) {

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 192px;
        background: url(../img/main/oryginal_450_x1.jpg);
    }

    .motto_box {
        display: none;
    }
}

@media all and (min-width: 451px) and (max-width:500px) {

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 214px;
        background: url(../img/main/oryginal_500_x1.jpg);
    }

    .motto_title,
    .motto {
        display: none;
    }
}

@media all and (min-width:500px) and (max-width: 749px) { 


/** Section - portfolio links **/

    article {
        justify-content: space-around;
    }

    .portfolio_sites_m {
        width: 45%;
    }
}

@media all and (min-width:501px) { 

/** Main - hero image **/

    .motto_title {
        color: #ffffff;
        letter-spacing: 0.1em;
        padding: 0 0 20px 0;
    }

    .motto_title::first-letter {
        font-size: 200%;
    }

    .motto {
        padding: 20px;
        background: #f8f9fa;
        background-color: rgb(248, 249, 250, 0.8);
        border-radius: 0.6em;
        max-width: 85%;
        letter-spacing: 0.1em;
        line-height: 150%;
        text-align: justify;
    }

    .bold_names {
        letter-spacing: 0.2em;
        color: #917840;
        font-size: 120%;
    }



@media all and (min-width:750px)  { 

    /** Section - portfolio links **/

    article {
        justify-content: space-between;
    }

    .portfolio_sites_l {
        width: 30%;
    }
} 


@media all and (min-width:501px) and (max-width:750px) { 

/** Header **/

    header {
        padding: 10px;   
    }

    .logo_m {
        height: 65px;
    }

    .autor_name_m {
        padding: 10px 0 0 0;
    }

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 276px;
        background: url(../img/main/oryginal_750_x1.jpg);
    }

    .motto_box {
        padding: 35px 10px 0 215px;
    }
}

@media all and (min-width:751px) and (max-width:1024px) { 

/** Header **/

    header {
        padding: 15px 20px 10px 18px;
    }

    .logo_m {
        height: 70px;
    }

    .autor_name_m {
        padding: 10px 0 0 0;
    }

/** Line under header **/

    .line_box {
        display: block;
        width: 100vw;
    }

    .line_m {
        box-sizing: border-box;
        margin: 0 0 15px 0;
        height: 3px;
        border: none;
        background: -moz-linear-gradient(left, rgba(172,145,120,1) 0%, rgba(172,145,120,0.5) 23%, rgba(172,145,120,0.26) 46%, rgba(172,145,120,0) 76%, rgba(172,145,120,0) 77%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(172,145,120,1) 0%,rgba(172,145,120,0.5) 23%,rgba(172,145,120,0.26) 46%,rgba(172,145,120,0) 76%,rgba(172,145,120,0) 77%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(172,145,120,1) 0%,rgba(172,145,120,0.5) 23%,rgba(172,145,120,0.26) 46%,rgba(172,145,120,0) 76%,rgba(172,145,120,0) 77%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac9178', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */   
    }

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 377px;
        background: url(../img/main/oryginal_1024_x1.jpg);
    }

    .motto_box {
        padding: 80px 10px 0 290px;
    }

    .motto {
        width: 70%;
    }

    /** Main - portfolio sites **/

    .portfolio_main_title {
        margin-left: 20px;
    }

/** Footer **/

    footer {
        justify-content: space-between;
        padding: 15px 20px 10px 20px;
    }

    .copy_right {
        text-align: right;
        width: 30%;
    }

    address p {
        text-align: left;
        width: 65%;
    }
}

@media all and (min-width:1025px) {  

    body {
        width: 1025px;
        margin-left: auto;
        margin-right: auto;
    }

/** Header **/

    header {
        margin: 20px 0 10px 0;
    }

    .logo_m {
        height: 70px;
    }

    .autor_name_m {
        padding: 10px 0 0 0;
    }

/** Line under header **/

    .line_box {
        display: block;
        width: 100vw;
    }

    .line_m {
        box-sizing: border-box;
        margin: 0 0 20px 0;
        height: 3px;
        border: none;
        background: -moz-linear-gradient(left, rgba(172,145,120,1) 0%, rgba(172,145,120,0.5) 23%, rgba(172,145,120,0.26) 46%, rgba(172,145,120,0) 76%, rgba(172,145,120,0) 77%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(172,145,120,1) 0%,rgba(172,145,120,0.5) 23%,rgba(172,145,120,0.26) 46%,rgba(172,145,120,0) 76%,rgba(172,145,120,0) 77%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(172,145,120,1) 0%,rgba(172,145,120,0.5) 23%,rgba(172,145,120,0.26) 46%,rgba(172,145,120,0) 76%,rgba(172,145,120,0) 77%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac9178', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */   
    }   

/** Main - hero image **/

    main {
        height: 100%;
        min-height: 377px;
        background: url(../img/main/oryginal_1025_x2.jpg);
    }

    .motto_box {
        padding: 65px 10px 0 350px;
    }

    .motto_title {
        padding: 0 0 30px 0;
    }

    .motto {
        width: 60%;
        letter-spacing: 0.3em;
        line-height: 180%;
        padding: 30px;
    }

/** Main - portfolio sites **/

    .portfolio_main_title {
        margin-left: 30px;
    }

/** Footer **/

    footer {
        justify-content: space-between;
        padding: 15px 20px 10px 20px;
    }

    .copy_right {
        text-align: right;
        width: 30%;
    }

    address p {
        text-align: left;
        width: 65%;
    }
}

@media all and (min-width: 1900px) {

    body {
        width: 1900px;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        height: 100%;
        min-height: 699px;
        background: url(../img/main/oryginal_2560_x2.jpg);
    }
}